# Simulation Configuration
# Case: 100W Si Die sandwiched between thick Cu spreaders

[Mesh]
MaxElementSize = 2mm  # Global Coarse Mesh

# 1. Bottom Heat Spreader (Copper)
[Box:Cu_Bottom]
Origin = 0, 0, 0
Size   = 40mm, 40mm, 5mm
MatID  = 30
# No BCs (Insulated bottom?) Or weak convection?
# Let's add weak convection to bottom to prevent heat buildup
BC_Bottom = h:10, T:25C

# 2a. Molding (Surrounds Die)
[Box:Molding]
Origin = 0, 0, 5mm
Size   = 40mm, 40mm, 0.5mm
MatID  = 40      # Epoxy / PCB material
Priority = 5     # Low Priority: Gets overwritten by Die (Priority 10)
# No BCs (Internal)

# 2. Silicon Die (Sandwiched)
[Box:Die]
Origin = 15mm, 15mm, 5mm
Size   = 10mm, 10mm, 0.5mm
MatID  = 20
Floorplan = die_layout.csv
# MeshSize = 0.05mm  # Removed to test Auto-Scale (Should default to 0.5mm/3 = 0.166mm)
Priority = 10    # High Priority: Overwrites anything overlapping (e.g. Mold)
# No BCs on Die (it's internal now)

# 3. Top Heat Spreader (Copper)
[Box:Cu_Top]
Origin = 0, 0, 5.5mm
Size   = 40mm, 40mm, 5mm
MatID  = 30
# Main Cooling Here
BC_Top = h:20000, T:25C


[Environment]
Ambient = 25C
